.icons {
  width: 100%;

  .content {
    width: calc(100% - 160px);
    max-width: 1400px;
    margin: 0 auto;

    @media (max-width: 700px) {
      width: calc(100% - 40px);
    }

  }

  .overline {
    @extend .h4;
    color: $darkBlue;
  }

  .headline {
    @extend .h2;
  }

  &.white {
    margin: 100px auto;

    @media (max-width: 1024px) {
      margin: 80px auto;
    }

    @media (max-width: 700px) {
      margin: 60px auto;
    }
  }

  &.dark {
    background: $darkBlue;

    .content {
      padding: 100px 0;

      @media (max-width: 1024px) {
        padding: 80px 0;
      }

      @media (max-width: 700px) {
        padding: 60px 0;
      }

    }

    .headline, h3, h4, p, ul {
      color: $white;
    }

  }

  ul {
    @extend .textlist;
  }

  &.small {

    .icons {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
      margin-top: -15px;

      @media (max-width: 1000px) {
        margin-top: 0;
      }

      @media (max-width: 850px) {
        flex-wrap: wrap;
      }

      @media (max-width: 600px) {
        margin-top: 10px;
      }

      .icon {
        flex: 0 0 auto;
        position: relative;
        width: 33.33%;
        margin-top: 80px;
        padding-right: 15px;

        @media (max-width: 1000px) {
          width: 50%;
          margin-top: 60px;
        }

        @media (max-width: 600px) {
          width: 100%;
          margin-top: 30px;
        }

        img {
          position: absolute;
          left: 0;
          top: 6px;
          display: block;

          @media (max-width: 1400px) {
            top: 4px;
          }

        }

        .text {
          @extend p.small;
          padding-left: 70px;

          @media (max-width: 1400px) {
            font-size: 13px;
            line-height: 25px;
          }

        }

      }

    }

  }

  &.big {

    .icons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: stretch;
      padding-top: 20px;

      @media (max-width: 850px) {
        flex-wrap: wrap;
      }

      .icon {
        flex: 0 0 auto;
        width: 25%;
        margin-top: 40px;
        padding-right: 30px;

        @media (max-width: 850px) {
          width: 50%;
        }

        img {
          display: block;
        }

        .text {
          margin-top: 20px;
          text-align: left;

          p, ul {

            @media (max-width: 850px) {
              display: none;
            }

          }

        }

      }

    }

  }




}
