.kundenstimmen {
  position: relative;
  background-position: center center;
  background-size: cover;

  .titleWrapper {
    width: calc(100% - 160px);
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: content-box;
    
    @media (max-width: 700px) {
      width: calc(100% - 40px);
    }
    
    .title {
      position: absolute;
      z-index: 2;
      @extend .smallTitle;
      transform: translateY(-50%);
    }
    
  }
  
  .slides {
    position: relative;
    width: 100%;
    max-width: 860px;
    height: 100%;
    margin: 0 auto;
    
    @media (max-width: 700px) {
      background: #323c46;
    }
    
    .slide {
      display: none;
      position: relative;
      text-align: center;
      padding: 70px 80px 110px 80px;
      transition: opacity 300ms linear;
      
      @media (max-width: 700px) {
        padding-left: 20px;
        padding-right: 20px;
      }
      
      &.active {
        display: block;
      }
      
      blockquote {
        margin-bottom: 44px;
        padding-top: 40px;
        background: url('images/quote.svg') center top no-repeat;
      }
      
      .name {
        @extend .h2;
      }
      
      .name + .subline {
        margin-top: 5px;
      }
      
      .subline {
        @extend .h3;
      }
      
    }
    
  }

  .dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 54px;
    width: 100%;
    
    .dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 1px 9px;
      border: 1px solid $white;
      cursor: pointer;
      
      &.active, &:hover {
        width: 10px;
        height: 10px;
        background: $white;
        margin: 0 8px;
      }
      
    }
    
  }

}