.logos {
  position: relative;
  padding-bottom: 90px;

  @media (max-width: 850px) {
    padding-bottom: 60px;
  }

  @media (max-width: 700px) {
    padding-bottom: 40px;
  }

  .wrapper {
    @extend .clearfix;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    width: calc(100% - 160px);
    max-width: 1400px;
    margin: 0 auto;



    @media (max-width: 700px) {
      width: calc(100% - 40px);
    }

  }

  .logo {
    margin-bottom: 60px;
    flex: 0 0 auto;
    width: 25%;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;


    @media (max-width: 850px) {
      width: 50%;
    }

    img {
      max-width: 100%;
      height: auto;
    }

  }


}
