$white:      #fff;
$orange:     #ff6400;
$lightBlue:  #e1e6eb;
$mediumBlue: #828c96;
$darkBlue:   #46505a;
$black:      #000;

$fontPrimary: Roboto, Helvetica, sans-serif;
$fontSecondary: 'Droid Serif', 'Times New Roman', serif;